<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @issue.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @issue.subtitle %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @issue.publisher_id %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @issue.id_seller_id %>
</p>

<p>
  <strong>Cover date:</strong>
  <%= @issue.date_publish %>
</p>

<p>
  <strong>Acquisition date:</strong>
  <%= @issue.date_acquisition %>
</p>

<p>
  <strong>Cover price:</strong>
  <%= @issue.cover_price %>
</p>

<p>
  <strong>Acquisition price:</strong>
  <%= @issue.acquisition_price %>
</p>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
